.feed_container {
  display: grid;
  grid-template-columns: 230px 1fr 0.55fr;
  height: 100%;
  width: 100%;
  column-gap: 3rem;
}

/* Sidebar*/

.aside_container {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.932);
}

.sidebar_container {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.932);
  border-right: 1px solid rgb(224, 224, 224);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  width: 230px;
}

.sidebar_container h2 {
  padding-top: 2.5rem;
}

.custom_sidebar_icon {
  font-size: 2.8rem;
}

.s_r_img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50vw;
  border: 3px solid rgb(22, 98, 164);
}

.navItem_container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.nav_item_li {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0.75rem;
  font-weight: 500;
}

.nav_item_li:hover {
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 5px;
}

.bottom_links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/********************************************************/

/* Main */

.main_content_container {
  padding: 5rem;
  gap: 1.5rem;
  width: 100%;
}

.main_content_container::-webkit-scrollbar {
  display: none;
}

.main_content_container ul {
  gap: 2rem;
  margin-bottom: 1rem;
}

.main_content_container ul li:first-child {
  font-weight: 600;
}

.main_content_container hr {
  width: 650px;
  border: 1px solid rgb(128, 128, 128, 0.4);
}

.bold {
  font-weight: 600;
}

.stories_container {
  align-items: center;
  gap: 100px;
  overflow-y: auto;
}

.stories_container::-webkit-scrollbar {
  display: none;
}

.story {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 1.3rem;
}

.story_img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100vw;
  border: 3px solid black;
}

.posts_container {
  padding: 4rem;
  width: 90%;
  margin: 0 auto;
}

.post_container {
  gap: 0.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.post_header {
  margin-bottom: 1.2rem;
}

.post_profile_img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100vw;
  border: 3px solid black;
}

.post_user_info {
  gap: 1.5rem;
}

.post_img {
  border-radius: 5px;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.bottom_post_icons_container {
  padding: 0.3rem;
  font-size: 2.5rem;
}

.bottom_post_icons_container div:first-child {
  gap: 1rem;
}

.post_text_container {
  gap: 1rem;
  margin-top: 1.3rem;
}

.post_text_container p:first-of-type {
  font-size: 1.8rem;
}

.post_text_container p:last-of-type {
  font-size: 1.3rem;
}

.custom_post_icon {
  cursor: pointer;
}

.comment_input {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-weight: 400;
  background-color: transparent;
}

.comment_input::placeholder {
  font-weight: lighter;
  font-weight: 500;
}

/*Widget */

.widget_container {
  padding: 5rem;
  gap: 2rem;
}

.user_info_container {
  gap: 1.5rem;
}

.widget_profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50vw;
  border: 3px solid black;
  object-fit: cover;
}

.user_info_container div:first-child {
  gap: 1rem;
}

.user_info_container span {
  font-size: 1.4rem;
}

.user_info_container span:last-child {
  color: rgb(93, 93, 93);
}

.suggestions_container {
  gap: 2rem;
}

.suggestions_container h3 {
  font-size: 1.6rem;
  color: gray;
  font-weight: 600;
}

.suggestions_container div:first-of-type p {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}

.switch_account {
  color: rgb(63, 139, 232) !important;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

.switch_account:hover {
  color: rgb(33, 81, 140) !important;
}

.suggested_users {
  gap: 1.6rem;
}

/* Profile Paeg*/
.profile_container {
  padding: 5rem;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 5rem;
}

.profile_img {
  width: 160px;
  height: 160px;
  border-radius: 50vw;
  object-fit: cover;
}

.profile_user_info {
  gap: 2rem;
}

.profile_header_container {
  width: 700px;
  margin: 0 auto;
}

.profile_user_info div:first-of-type p {
  font-size: 2rem;
  font-weight: 600;
}

.profile_user_info div:first-of-type button {
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile_user_info div:first-of-type button:hover {
  background-color: rgb(197, 197, 197);
}

.profile_user_info div:nth-of-type(2) {
  gap: 2.5rem;
  font-size: 1.65rem;
}

.profile_user_info div:nth-of-type(2) span {
  font-weight: 600;
}

.profile_user_info div:last-of-type p {
  font-size: 2rem;
  font-weight: 600;
}

.post_icon_container {
  padding: 1.5rem 2rem;
  background-color: rgb(181, 181, 181);
  border-radius: 50vw;
  cursor: pointer;
}

.post_icon_container:hover {
  background-color: rgb(213, 212, 212);
}

.add_post_icon {
  font-size: 3rem;
}

.separator_profile {
  width: 100%;
  color: rgb(228, 228, 228);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.add_post_popup {
  gap: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  padding: 6rem;
  border-radius: 8px;
}

.add_post_popup input {
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgb(128, 128, 128, 0.25);
  border-radius: 2px;
  outline: none;
}

.add_post_popup input:last-of-type {
  cursor: pointer;
}

.add_post_popup button {
  width: 40%;
  padding: 0.8rem 1rem;
  cursor: pointer;
  background-color: rgb(8, 134, 212);
  color: #fff;
  border-radius: 2px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.add_post_popup button:hover {
  background-color: rgb(9, 98, 153);
}

.custom_close {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  font-size: 2.5rem !important;
  cursor: pointer;
  font-weight: 600;
  padding: 0.2rem;
}
